# Classification Exercise


Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

In [66]:
import pandas as pd
import numpy as np

In [67]:
data = pd.read_csv('census_data.csv')

In [68]:
data.head(5)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K



** Convert the Label column to 0s and 1s instead of strings.**

In [69]:
data['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [70]:
def label_change(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [71]:
data['income_bracket'] = data['income_bracket'].apply(label_change)

In [72]:
data.head(5)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [73]:
from sklearn.model_selection import train_test_split

In [74]:
x_data = data.drop('income_bracket',axis=1)

In [75]:
labels = data['income_bracket']

In [76]:
X_train, X_test, y_train, y_test = train_test_split(x_data,labels,test_size=0.33, random_state=101)

In [77]:
data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [78]:
import tensorflow as tf

In [79]:
data['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [80]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)
race = tf.feature_column.categorical_column_with_hash_bucket("race", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [81]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [82]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,race,
            age,education_num,capital_gain,capital_loss,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [83]:
input_func=tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)

In [84]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols,n_classes=2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\hitesh_n\AppData\Local\Temp\tmpqmewgfjx
INFO:tensorflow:Using config: {'_keep_checkpoint_max': 5, '_session_config': None, '_log_step_count_steps': 100, '_model_dir': 'C:\\Users\\hitesh_n\\AppData\\Local\\Temp\\tmpqmewgfjx', '_save_summary_steps': 100, '_tf_random_seed': 1, '_keep_checkpoint_every_n_hours': 10000, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600}

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [85]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\hitesh_n\AppData\Local\Temp\tmpqmewgfjx\model.ckpt.
INFO:tensorflow:loss = 69.3147, step = 1
INFO:tensorflow:global_step/sec: 259.831
INFO:tensorflow:loss = 155.628, step = 101 (0.400 sec)
INFO:tensorflow:global_step/sec: 301.365
INFO:tensorflow:loss = 1020.64, step = 201 (0.332 sec)
INFO:tensorflow:global_step/sec: 295.673
INFO:tensorflow:loss = 67.8467, step = 301 (0.323 sec)
INFO:tensorflow:global_step/sec: 287.417
INFO:tensorflow:loss = 76.1405, step = 401 (0.348 sec)
INFO:tensorflow:global_step/sec: 259.536
INFO:tensorflow:loss = 298.225, step = 501 (0.385 sec)
INFO:tensorflow:global_step/sec: 270.649
INFO:tensorflow:loss = 301.005, step = 601 (0.369 sec)
INFO:tensorflow:global_step/sec: 260.354
INFO:tensorflow:loss = 189.47, step = 701 (0.384 sec)
INFO:tensorflow:global_step/sec: 287.549
INFO:tensorflow:loss = 287.932, step = 801 (0.363 sec)
INFO:tensorflow:global_step/sec: 302.126
INFO:tensorflow:loss = 77.4834, step = 901 (0.331 sec)
INFO:tensorflow:global_step/sec: 296.556
INFO:tensorflow:loss = 117.786, step = 1001 (0.337 sec)
INFO:tensorflow:global_step/sec: 301.252
INFO:tensorflow:loss = 44.8203, step = 1101 (0.316 sec)
INFO:tensorflow:global_step/sec: 301.382
INFO:tensorflow:loss = 257.432, step = 1201 (0.332 sec)
INFO:tensorflow:global_step/sec: 310.271
INFO:tensorflow:loss = 182.221, step = 1301 (0.322 sec)
INFO:tensorflow:global_step/sec: 300.689
INFO:tensorflow:loss = 58.8946, step = 1401 (0.348 sec)
INFO:tensorflow:global_step/sec: 302.005
INFO:tensorflow:loss = 59.8695, step = 1501 (0.315 sec)
INFO:tensorflow:global_step/sec: 300.061
INFO:tensorflow:loss = 71.329, step = 1601 (0.337 sec)
INFO:tensorflow:global_step/sec: 311.097
INFO:tensorflow:loss = 46.4608, step = 1701 (0.318 sec)
INFO:tensorflow:global_step/sec: 301.236
INFO:tensorflow:loss = 81.6056, step = 1801 (0.332 sec)
INFO:tensorflow:global_step/sec: 259.871
INFO:tensorflow:loss = 243.076, step = 1901 (0.385 sec)
INFO:tensorflow:global_step/sec: 301.6
INFO:tensorflow:loss = 110.534, step = 2001 (0.332 sec)
INFO:tensorflow:global_step/sec: 268.49
INFO:tensorflow:loss = 137.024, step = 2101 (0.372 sec)
INFO:tensorflow:global_step/sec: 290.223
INFO:tensorflow:loss = 178.276, step = 2201 (0.345 sec)
INFO:tensorflow:global_step/sec: 270.849
INFO:tensorflow:loss = 77.5109, step = 2301 (0.369 sec)
INFO:tensorflow:global_step/sec: 282.972
INFO:tensorflow:loss = 64.1658, step = 2401 (0.353 sec)
INFO:tensorflow:global_step/sec: 264.164
INFO:tensorflow:loss = 36.1745, step = 2501 (0.379 sec)
INFO:tensorflow:global_step/sec: 247.994
INFO:tensorflow:loss = 40.8735, step = 2601 (0.403 sec)
INFO:tensorflow:global_step/sec: 297.709
INFO:tensorflow:loss = 85.7551, step = 2701 (0.336 sec)
INFO:tensorflow:global_step/sec: 287.888
INFO:tensorflow:loss = 64.18, step = 2801 (0.347 sec)
INFO:tensorflow:global_step/sec: 270.594
INFO:tensorflow:loss = 27.3598, step = 2901 (0.385 sec)
INFO:tensorflow:global_step/sec: 288.319
INFO:tensorflow:loss = 226.839, step = 3001 (0.331 sec)
INFO:tensorflow:global_step/sec: 309.908
INFO:tensorflow:loss = 108.152, step = 3101 (0.338 sec)
INFO:tensorflow:global_step/sec: 301.5
INFO:tensorflow:loss = 150.409, step = 3201 (0.332 sec)
INFO:tensorflow:global_step/sec: 300.839
INFO:tensorflow:loss = 29.1717, step = 3301 (0.317 sec)
INFO:tensorflow:global_step/sec: 301.125
INFO:tensorflow:loss = 207.653, step = 3401 (0.336 sec)
INFO:tensorflow:global_step/sec: 271.327
INFO:tensorflow:loss = 93.8612, step = 3501 (0.365 sec)
INFO:tensorflow:global_step/sec: 295.525
INFO:tensorflow:loss = 50.1455, step = 3601 (0.338 sec)
INFO:tensorflow:global_step/sec: 301.917
INFO:tensorflow:loss = 179.463, step = 3701 (0.347 sec)
INFO:tensorflow:global_step/sec: 301.266
INFO:tensorflow:loss = 107.906, step = 3801 (0.316 sec)
INFO:tensorflow:global_step/sec: 295.187
INFO:tensorflow:loss = 135.488, step = 3901 (0.339 sec)
INFO:tensorflow:global_step/sec: 316.301
INFO:tensorflow:loss = 64.0041, step = 4001 (0.316 sec)
INFO:tensorflow:global_step/sec: 301.78
INFO:tensorflow:loss = 63.0489, step = 4101 (0.331 sec)
INFO:tensorflow:global_step/sec: 283.202
INFO:tensorflow:loss = 60.799, step = 4201 (0.354 sec)
INFO:tensorflow:global_step/sec: 263.431
INFO:tensorflow:loss = 41.9908, step = 4301 (0.379 sec)
INFO:tensorflow:global_step/sec: 296.074
INFO:tensorflow:loss = 41.4998, step = 4401 (0.338 sec)
INFO:tensorflow:global_step/sec: 275.4
INFO:tensorflow:loss = 94.7092, step = 4501 (0.363 sec)
INFO:tensorflow:global_step/sec: 271.043
INFO:tensorflow:loss = 218.822, step = 4601 (0.385 sec)
INFO:tensorflow:global_step/sec: 283.141
INFO:tensorflow:loss = 27.4318, step = 4701 (0.353 sec)
INFO:tensorflow:global_step/sec: 249.905
INFO:tensorflow:loss = 217.211, step = 4801 (0.385 sec)
INFO:tensorflow:global_step/sec: 274.291
INFO:tensorflow:loss = 52.547, step = 4901 (0.380 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\hitesh_n\AppData\Local\Temp\tmpqmewgfjx\model.ckpt.
INFO:tensorflow:Loss for final step: 102.033.

In [87]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [88]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Restoring parameters from C:\Users\hitesh_n\AppData\Local\Temp\tmpqmewgfjx\model.ckpt-5000

** Each item in your list will look like this: **

In [89]:
predictions[0]

{'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'logistic': array([ 0.24385123], dtype=float32),
 'logits': array([-1.13167989], dtype=float32),
 'probabilities': array([ 0.75614876,  0.2438512 ], dtype=float32)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [91]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [92]:
final_preds[0]

0

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [93]:
from sklearn.metrics import classification_report

In [94]:
print(classification_report(y_test,final_preds))

             precision    recall  f1-score   support

          0       0.86      0.92      0.89      8161
          1       0.67      0.54      0.60      2585

avg / total       0.82      0.83      0.82     10746

# Great Job!